<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/listDisplay.css">
</head>
<body>
    <div class="container" >

        <div id="CSE116">
            <h1>
                CSE116
            </h1>
            <ol>
                {% for student in cse116_students %}
                <li>{{ student.name }} </li>
                {% endfor %}
            </ol>
        </div>

    <div id="CSE115">
        <h1>
            CSE115
        </h1>
        <ol>
            {% for student in cse115_students %}
            <li>{{ student.name }} </li>
            {% endfor %}
        </ol>
    </div>
    <div id="Student_In">
        <form action="/removeSelf" method="post">
            <!-- Text Box for name -->
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name">
    
            <!-- Text Box for UB ID -->
            <label for="UBID">UB ID:</label>
            <input type="text" id="UBID" name="UBID" placeholder="Enter Your UBID">
    
            <!-- Select course Box -->
            <label for="options">Course:</label>
            <select id="options" name="option">
                <option value="CSE115">CSE115</option>
                <option value="CSE116">CSE116</option>
            </select>
    
            <br><br>

            <!-- remove person from list button-->
            <button type="submit">Remove</button>
        </form>
    </div>
    </div>
    

</body>
</html>